<main class="bg-slate-950 text-slate-50 px-4 min-h-screen">
  <div class="max-w-5xl mx-auto flex flex-col items-center gap-6 py-20">
    {{#if errors}}
      <div class="flex flex-row gap-4 max-w-5xl mx-auto">
        {{#each errors}}
          <div class="text-slate-800 bg-red-400 py-4 px-2 w-52 rounded-md">
            <p>{{msg}}</p>
            <p>{{field}}</p>
            <p>{{path}}</p>
          </div>
        {{/each}}
      </div>
    {{/if}}
    <p class="text-3xl font-bold">Are you sure you want to delete this post?</p>
    <div class="bg-slate-800 text-slate-50 px-6 py-4 rounded-md">
      <div class="max-w-lg">
        <div class="flex flex-col gap-1 mb-6">
          <p class="font-medium text-base">{{post.author.fullName}}</p>
          <div class="text-xs">
            <p>Posted on: {{post.createdFormatted}}</p>
            <p>Updated on: {{post.updatedFormatted}}</p>
          </div>
        </div>
        <div>
          <h1 class="text-3xl mb-2">{{{post.title}}}</h1>
          <p class="whitespace-pre-line">{{{post.body}}}</p>
        </div>
      </div>
    </div>
    <div>
      <form class="flex gap-4 justify-center" method="POST">
        <input type="hidden" value="{{post.id}}" name="postid" />
        <button class="text-slate-50 bg-red-600 py-2 px-6 rounded-md">Delete
          Post</button>
      </form>
    </div>
  </div>
</main>